.modal-overlay {
    margin-top: 20px;
}

.modal-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.modal-input {
    margin-left: 15px;
}